{% extends 'euro2016/base_index.html' %}

{% block child %}
    
    <ul class="nav nav-pills">
        <li class="active"><a href="{% url 'partido_list' pk=usuario.pk %}">Grupos</a></li>
        {% for grupo in grupos_todos %}
            <li><a href="{% url 'grupo_equipos' pk_user=usuario.pk pk_grupo_id=grupo.grupo_id %}">{{grupo.nombre}}</a></li>
        {% endfor %}
            <li><a href="{% url 'grupo_3rd' pk_user=usuario.pk %}">3rd place teams</a></li>
    </ul>
    <br />
    <ul class="nav nav-pills">
    	<li class="active"><a href="{% url 'eliminatorias_lista' pk_user=usuario.pk %}">Eliminatorias</a></li>       
        <li ><a href="{% url 'eliminatorias_tabla' pk_user=usuario.pk %}">Formato tabla</a></li>
    </ul>
  

    {% block children %}
    {% endblock %}    


{% endblock child %}