{% extends 'euro2016/base.html' %}

{% block children %}
<h2><a href="">Listado de partidos de {{usuario}}</a></h2>
<h4> Octavos </h4>
{% for partido in partidos %}
	{% if partido.partido_id >= 37 and partido.partido_id <= 44 %}
		<div>
		{{partido.pk}}
		{{partido.partido_id}}
		{% for equipo in equipos %}
			{% if equipo.equipo_id == partido.local_id %}
				{{equipo.nombre}}
			{% endif %}
		{% endfor %}
		<input type='text' id="gol_local_{{partido.pk}}" value="{{partido.local}}" />
		vs 
		<input type='text' id="gol_visitante_{{partido.pk}}" value="{{partido.visitante}}" />
		{% for equipo in equipos %}
			{% if equipo.equipo_id == partido.visitante_id %}
				{{equipo.nombre}}
			{% endif %}
		{% endfor %}
		{% if user.is_authenticated %}
    		{% if user.pk == usuario.pk %}
    			<button id="b_edit_{{partido.id}}" class="euro2016_edit_ajax" 
					        			data-partidoid="{{partido.id}}"
					        			data-complete-text="finished!"				        			 
					        			class="btn btn-primary" type="button">
				                    	Ok
				</button>
        		<a href="{% url 'partido_edit_octavos' pk_user=usuario.pk pk=partido.pk %}"> 
        		EDITAR
        		</a>
    		{% endif %}	
    	{% endif %}
    	</div>
	{% endif %}
{% endfor %}

<h4> Cuartos </h4>

{% for partido in partidos %}
	{% if partido.partido_id >= 45 and partido.partido_id <= 48 %}
		<div>
		{{partido.pk}}
		{{partido.partido_id}}
		{% for equipo in equipos %}
			{% if equipo.equipo_id == partido.local_id %}
				{{equipo.nombre}}
			{% endif %}
		{% endfor %}
		<input type='text' id="gol_local_{{partido.pk}}" value="{{partido.local}}" />
		vs 
		<input type='text' id="gol_visitante_{{partido.pk}}" value="{{partido.visitante}}" />
		{% for equipo in equipos %}
			{% if equipo.equipo_id == partido.visitante_id %}
				{{equipo.nombre}}
			{% endif %}
		{% endfor %}
		{% if user.is_authenticated %}
    		{% if user.pk == usuario.pk %}
    			<button id="b_edit_{{partido.id}}" class="euro2016_edit_ajax" 
					        			data-partidoid="{{partido.id}}"
					        			data-complete-text="finished!"				        			 
					        			class="btn btn-primary" type="button">
				                    	Ok
				</button>
        		<a href="{% url 'partido_edit_octavos' pk_user=usuario.pk pk=partido.pk %}"> 
        		EDITAR
        		</a>
    		{% endif %}	
    	{% endif %}
    	</div>
	{% endif %}
{% endfor %}


<h4> Semis </h4>

{% for partido in partidos %}
	{% if partido.partido_id >= 49 and partido.partido_id <= 50 %}
		<div>
		{{partido.pk}}
		{{partido.partido_id}}
		{% for equipo in equipos %}
			{% if equipo.equipo_id == partido.local_id %}
				{{equipo.nombre}}
			{% endif %}
		{% endfor %}
		{{partido.local_id}}
		<input type='text' id="gol_local_{{partido.pk}}" value="{{partido.local}}" />
		vs 
		<input type='text' id="gol_visitante_{{partido.pk}}" value="{{partido.visitante}}" />
		{{partido.visitante_id}}
		{% for equipo in equipos %}
			{% if equipo.equipo_id == partido.visitante_id %}
				{{equipo.nombre}}
			{% endif %}
		{% endfor %}
		{% if user.is_authenticated %}
    		{% if user.pk == usuario.pk %}
    			<button id="b_edit_{{partido.id}}" class="euro2016_edit_ajax" 
					        			data-partidoid="{{partido.id}}"
					        			data-complete-text="finished!"				        			 
					        			class="btn btn-primary" type="button">
				                    	Ok
				</button>
        		<a href="{% url 'partido_edit_octavos' pk_user=usuario.pk pk=partido.pk %}"> 
        		EDITAR
        		</a>
    		{% endif %}	
    	{% endif %}
    	</div>
	{% endif %}
{% endfor %}


<h4> Final </h4>

{% for partido in partidos %}
	{% if partido.partido_id == 51 %}
		<div>
		{{partido.pk}}
		{{partido.partido_id}}
		{% for equipo in equipos %}
			{% if equipo.equipo_id == partido.local_id %}
				{{equipo.nombre}}
			{% endif %}
		{% endfor %}
		<input type='text' id="gol_local_{{partido.pk}}" value="{{partido.local}}" />
		vs 
		<input type='text' id="gol_visitante_{{partido.pk}}" value="{{partido.visitante}}" />
		{% for equipo in equipos %}
			{% if equipo.equipo_id == partido.visitante_id %}
				{{equipo.nombre}}
			{% endif %}
		{% endfor %}
		{% if user.is_authenticated %}
    		{% if user.pk == usuario.pk %}
    			<button id="b_edit_{{partido.id}}" class="euro2016_edit_ajax" 
					        			data-partidoid="{{partido.id}}"
					        			data-complete-text="finished!"				        			 
					        			class="btn btn-primary" type="button">
				                    	Ok
				</button>
        		<a href="{% url 'partido_edit_octavos' pk_user=usuario.pk pk=partido.pk %}"> 
        		EDITAR
        		</a>
    		{% endif %}	
    	{% endif %}
    	</div>
	{% endif %}
{% endfor %}

{% endblock children %}
