{% extends 'euro2016/base.html' %}

{% block children %}
{% if user.is_authenticated %}
	{% if user.pk == usuario.pk %}
		<button id="b_list" class="list_partido_ajax" 				        							        			 
		        			class="btn btn-primary"
		        			data-usuario="{{usuario.id}}"
		        			type="button">
		                	Ok
		</button>
		<button type="button" class="b_refresh">
			  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
		</button>
	{% endif %}
{% endif %}
<table class="braket">
	<tr>
		{% for partido in partidos %}
			<!--Local octavos de final-->
			{% if partido.partido_id == 37 %}
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.local_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}				
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_local_{{partido.pk}}" value="{{partido.local}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.local}}
					{% endif %}
					</a>
				</td>
			{% endif %}	
    	{% endfor %}
				<td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
				<td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		{% for partido in partidos %}
			<!--Local octavos de final-->
			{% if partido.partido_id == 41 %}
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_local_{{partido.pk}}" value="{{partido.local}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.local}}
					{% endif %}
					</a>
				</td>
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.local_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}
			{% endif %}	
    	{% endfor %}					
    		
	</tr>
	<tr>
		<td></td><td></td>

		{% for partido in partidos %}
			<!--Cuartos A 45 LOCAL-->
			{% if partido.partido_id == 45 %}
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.local_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}				
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_local_{{partido.pk}}" value="{{partido.local}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.local}}
					{% endif %}
					</a>
				</td>
			{% endif %}	
    	{% endfor %}

		<td></td> <td></td> <td></td> <td></td>
		<td></td> <td></td> <td></td> <td></td>

		{% for partido in partidos %}
			<!--Cuartos B 47 LOCAL-->
			{% if partido.partido_id == 47 %}
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_local_{{partido.pk}}" value="{{partido.local}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.local}}
					{% endif %}
					</a>
				</td>
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.local_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}
			{% endif %}	
    	{% endfor %}
		<td></td><td></td>
	</tr>

	<tr>
		{% for partido in partidos %}
			<!--Octavos A 37 VISITANTE -->
			{% if partido.partido_id == 37 %}
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.visitante_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}				
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_visitante_{{partido.pk}}" value="{{partido.visitante}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.visitante}}
					{% endif %}
					</a>
				</td>
			{% endif %}	
    	{% endfor %}
				<td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
				<td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		{% for partido in partidos %}
			<!--Octavos B 41 VISITANTE -->
			{% if partido.partido_id == 41 %}
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_visitante_{{partido.pk}}" value="{{partido.visitante}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.visitante}}
					{% endif %}
					</a>
				</td>
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.visitante_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}
			{% endif %}	
    	{% endfor %}					
    		
	</tr>

	<tr>
		<td></td> <td></td> <td></td> <td></td>
		{% for partido in partidos %}
			<!--Semifinal A 49 LOCAL-->
			{% if partido.partido_id == 49 %}
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.local_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}				
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_local_{{partido.pk}}" value="{{partido.local}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.local}}
					{% endif %}
					</a>
				</td>
			{% endif %}	
    	{% endfor %}
		<td></td> <td></td> <td></td> <td></td>
		{% for partido in partidos %}
			<!--Semifinal B 50 LOCAL-->
			{% if partido.partido_id == 50 %}
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_local_{{partido.pk}}" value="{{partido.local}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.local}}
					{% endif %}
					</a>
				</td>
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.local_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}
			{% endif %}	
    	{% endfor %}	
		<td></td> <td></td> <td></td> <td></td>
	</tr>

	<tr>
		{% for partido in partidos %}
			<!--Octavos A 39 LOCAL-->
			{% if partido.partido_id == 39 %}
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.local_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}				
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_local_{{partido.pk}}" value="{{partido.local}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.local}}
					{% endif %}
					</a>
				</td>
			{% endif %}	
    	{% endfor %}
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		{% for partido in partidos %}
			<!--Octavos B 43 LOCAL-->
			{% if partido.partido_id == 43 %}
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_local_{{partido.pk}}" value="{{partido.local}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.local}}
					{% endif %}
					</a>
				</td>
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.local_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}
			{% endif %}	
    	{% endfor %}	
	</tr>
	<tr>
		<td></td><td></td>
		{% for partido in partidos %}
			<!--Cuartos A 41 VISITANTE-->
			{% if partido.partido_id == 45 %}
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.visitante_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}				
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_visitante_{{partido.pk}}" value="{{partido.visitante}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.visitante}}
					{% endif %}
					</a>
				</td>
			{% endif %}	
    	{% endfor %}
		<td></td> <td></td> <td></td> <td></td>
		<td></td> <td></td> <td></td> <td></td>
		{% for partido in partidos %}
			<!--Cuartos B 47 VISITANTE-->
			{% if partido.partido_id == 47 %}
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_visitante_{{partido.pk}}" value="{{partido.visitante}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.visitante}}
					{% endif %}
					</a>
				</td>
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.visitante_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}
			{% endif %}	
    	{% endfor %}	
		<td></td><td></td>
	</tr>
	<tr>
		{% for partido in partidos %}
			<!--Octavos A 39 VISITANTE-->
			{% if partido.partido_id == 39 %}
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.visitante_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}				
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_visitante_{{partido.pk}}" value="{{partido.visitante}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.visitante}}
					{% endif %}
					</a>
				</td>
			{% endif %}	
    	{% endfor %}
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		{% for partido in partidos %}
			<!--Octavos B 43 VISITANTE-->
			{% if partido.partido_id == 43 %}
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_visitante_{{partido.pk}}" value="{{partido.visitante}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.visitante}}
					{% endif %}
					</a>
				</td>
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.visitante_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}
			{% endif %}	
    	{% endfor %}	
	</tr>




	<tr>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		{% for partido in partidos %}
			{% if partido.partido_id == 51 %}
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.local_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}				
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_local_{{partido.pk}}" value="{{partido.local}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.local}}
					{% endif %}
					</a>
				</td>
			{% endif %}	
    	{% endfor %}
		
		{% for partido in partidos %}
			{% if partido.partido_id == 51 %}
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_visitante_{{partido.pk}}" value="{{partido.visitante}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.visitante}}
					{% endif %}
					</a>
				</td>
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.visitante_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}
			{% endif %}	
    	{% endfor %}
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
	</tr>



	<tr>
		{% for partido in partidos %}
			<!--Local octavos de final-->
			{% if partido.partido_id == 38 %}
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.local_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}				
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_local_{{partido.pk}}" value="{{partido.local}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.local}}
					{% endif %}
					</a>
				</td>
			{% endif %}	
    	{% endfor %}
				<td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
				<td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		{% for partido in partidos %}
			<!--Local octavos de final-->
			{% if partido.partido_id == 40 %}
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_local_{{partido.pk}}" value="{{partido.local}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.local}}
					{% endif %}
					</a>
				</td>
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.local_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}
			{% endif %}	
    	{% endfor %}					
    		
	</tr>
	<tr>
		<td></td><td></td>

		{% for partido in partidos %}
			<!--Cuartos A 46 LOCAL-->
			{% if partido.partido_id == 46 %}
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.local_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}				
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_local_{{partido.pk}}" value="{{partido.local}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.local}}
					{% endif %}
					</a>
				</td>
			{% endif %}	
    	{% endfor %}

		<td></td> <td></td> <td></td> <td></td>
		<td></td> <td></td> <td></td> <td></td>

		{% for partido in partidos %}
			<!--Cuartos B 48 LOCAL-->
			{% if partido.partido_id == 48 %}
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_local_{{partido.pk}}" value="{{partido.local}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.local}}
					{% endif %}
					</a>
				</td>
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.local_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}
			{% endif %}	
    	{% endfor %}
		<td></td><td></td>
	</tr>

	<tr>
		{% for partido in partidos %}
			<!--Octavos A 38 VISITANTE -->
			{% if partido.partido_id == 38 %}
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.visitante_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}				
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_visitante_{{partido.pk}}" value="{{partido.visitante}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.visitante}}
					{% endif %}
					</a>
				</td>
			{% endif %}	
    	{% endfor %}
				<td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
				<td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		{% for partido in partidos %}
			<!--Octavos B 40 VISITANTE -->
			{% if partido.partido_id == 40 %}
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_visitante_{{partido.pk}}" value="{{partido.visitante}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.visitante}}
					{% endif %}
					</a>
				</td>
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.visitante_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}
			{% endif %}	
    	{% endfor %}					
    		
	</tr>

	<tr>
		<td></td> <td></td> <td></td> <td></td>
		{% for partido in partidos %}
			<!--Semifinal A 49 VISITANTE-->
			{% if partido.partido_id == 49 %}
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.visitante_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}				
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_visitante_{{partido.pk}}" value="{{partido.visitante}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.visitante}}
					{% endif %}
					</a>
				</td>
			{% endif %}	
    	{% endfor %}
		<td></td> <td></td> <td></td> <td></td>
		{% for partido in partidos %}
			<!--Semifinal B 50 VISITANTE-->
			{% if partido.partido_id == 50 %}
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_visitante_{{partido.pk}}" value="{{partido.visitante}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.visitante}}
					{% endif %}
					</a>
				</td>
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.visitante_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}
			{% endif %}	
    	{% endfor %}	
		<td></td> <td></td> <td></td> <td></td>
	</tr>

	<tr>
		{% for partido in partidos %}
			<!--Octavos A 42 LOCAL-->
			{% if partido.partido_id == 42 %}
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.local_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}				
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_local_{{partido.pk}}" value="{{partido.local}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.local}}
					{% endif %}
					</a>
				</td>
			{% endif %}	
    	{% endfor %}
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		{% for partido in partidos %}
			<!--Octavos B 44 LOCAL-->
			{% if partido.partido_id == 44 %}
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_local_{{partido.pk}}" value="{{partido.local}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.local}}
					{% endif %}
					</a>
				</td>
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.local_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}
			{% endif %}	
    	{% endfor %}	
	</tr>
	<tr>
		<td></td><td></td>
		{% for partido in partidos %}
			<!--Cuartos A 46 VISITANTE-->
			{% if partido.partido_id == 46 %}
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.visitante_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}				
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_visitante_{{partido.pk}}" value="{{partido.visitante}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.visitante}}
					{% endif %}
					</a>
				</td>
			{% endif %}	
    	{% endfor %}
		<td></td> <td></td> <td></td> <td></td>
		<td></td> <td></td> <td></td> <td></td>
		{% for partido in partidos %}
			<!--Cuartos B 48 VISITANTE-->
			{% if partido.partido_id == 48 %}
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_visitante_{{partido.pk}}" value="{{partido.visitante}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.visitante}}
					{% endif %}
					</a>
				</td>
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.visitante_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}
			{% endif %}	
    	{% endfor %}	
		<td></td><td></td>
	</tr>
	<tr>
		{% for partido in partidos %}
			<!--Octavos A 42 VISITANTE-->
			{% if partido.partido_id == 42 %}
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.visitante_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}				
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_visitante_{{partido.pk}}" value="{{partido.visitante}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.visitante}}
					{% endif %}
					</a>
				</td>
			{% endif %}	
    	{% endfor %}
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		<td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
		{% for partido in partidos %}
			<!--Octavos B 44 VISITANTE-->
			{% if partido.partido_id == 44 %}
				<td class="resultado">
					{% if user.is_authenticated %}
	    				{% if user.pk == usuario.pk %}
	    					<input type='text' class='input' id="gol_visitante_{{partido.pk}}" value="{{partido.visitante}}" />
	    				{% endif %}
	    			{% else %}
						{{partido.visitante}}
					{% endif %}
					</a>
				</td>
				{% for equipo in equipos %}
					{% if equipo.equipo_id == partido.visitante_id %}						
						<td class="team">{{equipo.nombre}}</td>
					{% endif %}
				{% endfor %}
			{% endif %}	
    	{% endfor %}	
	</tr>

</table>


{% endblock children %}
