{% extends 'euro2016/base.html' %}

{% block children %}
	<h2>Terceros de grupo
    </h2>
    Pasan los 4 primeros
    <table class="table-condensed table-striped">
	    	<tr>
	    		{% if debug %}
	    			<th>Id</th>
	    		{% endif %}
	    		<th>Nombre</th>
	    		<th>Flag</th>
	    		<th>Gr</th>
	    		<th>Gan</th>
	    		<th>Emp</th>
	    		<th>Per</th>
	    		<th>Gfav</th>
	    		<th>Gcon</th>
	    		<th>Gdif</th>
	    		<th><b>Puntos</b></th>
	    		<th>Pasa</th>
	    		
	    	</tr>
   {% for team in teams %}	    		
		    	<tr>    
		    		{% if debug %}		
						<td> {{team.equipo_id}} </td>
					{% endif %}
					<td> {{team.name}} </td>	
					<td>  <img src="/static/img/{{team.flag}}.png">  </td>
					<td> {{team.grupo}} </td>
					<td> {{team.ganados}} </td>
					<td> {{team.empatados}} </td>
					<td> {{team.perdidos}} </td>					
					<td> {{team.favor}} </td>
					<td> {{team.contra}} </td>
					<td> {{team.diff}} </td>
					<td> <b>{{team.puntos}}</b> </td>
					<td>
						{% if team.pasa == 1 %}		
							PASA
						{% endif %}
					</td>
				</tr>				
    		{% endfor %}
    </table>
{% endblock children %}
