{% extends 'home/base.html' %}

{% block content %}
    
    <ul class="nav nav-pills">
        <li class="active"><a href="{% url 'mundial2014.views.partido_list' pk=usuario.pk %}">Grupos</a></li>
        {% for grupo in grupos_todos %}
            <li><a href="{% url 'mundial2014.views.grupo_equipos' pk_user=usuario.pk pk=grupo.pk %}">{{grupo.nombre}}</a></li>
        {% endfor %}
    </ul>
    <br />
    <ul class="nav nav-pills">
    	<li class="active"><a href="{% url 'eliminatorias_lista' pk_user=usuario.pk %}">Eliminatorias</a></li>       
        <li ><a href="{% url 'eliminatorias_tabla' pk_user=usuario.pk %}">Formato tabla</a></li>
    </ul>
  

    {% block child %}
    {% endblock %}
    


{% endblock content %}