{% extends 'mundial2014/base.html' %}

{% block child %}

    <h2><a href="">Grupos</a></h2>

    {% for grupo in grupos %}
    	{{grupo.grupo_id}} {{grupo.nombre}}

    	
	    <table class="table-condensed">
	    	<tr>
	    		<th>Id</th>
	    		<th>Nombre</th>	    		
	    	</tr>
	    	{% for equipo in equipos %}
	    		{% if equipo.grupo_id == grupo.grupo_id %}
			    	<tr>    		
							<td> {{equipo.equipo_id}} </td>
							<td> {{equipo.nombre}} </td>	
							<td> <img src="/static/img/{{equipo.flag}}.png"> </td>			
					</tr>
				{% endif %}
	    	{% endfor %}
	    </table>

    {% endfor %}

{% endblock child %}
