{% extends 'mundial2014/base.html' %}

{% block child %}

<h4> Octavos </h4>
{% for partido in partidos %}
	{% if partido.partido_id >= 49 and partido.partido_id <= 56 %}
		<div>
		{{partido.partido_id}}
		{% for equipo in equipos %}
			{% if equipo.equipo_id == partido.local_id %}
				{{equipo.nombre}}
			{% endif %}
		{% endfor %}
		{{partido.local}}
		vs 
		{{partido.visitante}}
		{% for equipo in equipos %}
			{% if equipo.equipo_id == partido.visitante_id %}
				{{equipo.nombre}}
			{% endif %}
		{% endfor %}
		{% if user.is_authenticated %}
    		{% if user.pk == usuario.pk %}
        		<a href="{% url 'partido_edit_octavos' pk_user=usuario.pk pk=partido.pk %}"> 
        		EDITAR
        		</a>
    		{% endif %}	
    	{% endif %}
    	</div>
	{% endif %}
{% endfor %}

<h4> Cuartos </h4>

{% for partido in partidos %}
	{% if partido.partido_id >= 57 and partido.partido_id <= 60 %}
		<div>
		{{partido.partido_id}}
		{% for equipo in equipos %}
			{% if equipo.equipo_id == partido.local_id %}
				{{equipo.nombre}}
			{% endif %}
		{% endfor %}
		{{partido.local}}
		vs 
		{{partido.visitante}}
		{% for equipo in equipos %}
			{% if equipo.equipo_id == partido.visitante_id %}
				{{equipo.nombre}}
			{% endif %}
		{% endfor %}
		{% if user.is_authenticated %}
    		{% if user.pk == usuario.pk %}
        		<a href="{% url 'partido_edit_octavos' pk_user=usuario.pk pk=partido.pk %}"> 
        		EDITAR
        		</a>
    		{% endif %}	
    	{% endif %}
    	</div>
	{% endif %}
{% endfor %}


<h4> Semis </h4>

{% for partido in partidos %}
	{% if partido.partido_id >= 61 and partido.partido_id <= 62 %}
		<div>
		{{partido.partido_id}}
		{% for equipo in equipos %}
			{% if equipo.equipo_id == partido.local_id %}
				{{equipo.nombre}}
			{% endif %}
		{% endfor %}
		{{partido.local}}
		vs 
		{{partido.visitante}}
		{% for equipo in equipos %}
			{% if equipo.equipo_id == partido.visitante_id %}
				{{equipo.nombre}}
			{% endif %}
		{% endfor %}
		{% if user.is_authenticated %}
    		{% if user.pk == usuario.pk %}
        		<a href="{% url 'partido_edit_octavos' pk_user=usuario.pk pk=partido.pk %}"> 
        		EDITAR
        		</a>
    		{% endif %}	
    	{% endif %}
    	</div>
	{% endif %}
{% endfor %}

<h4> Consolacion </h4>

{% for partido in partidos %}
	{% if partido.partido_id == 63 %}
		<div>
		{{partido.partido_id}}
		{% for equipo in equipos %}
			{% if equipo.equipo_id == partido.local_id %}
				{{equipo.nombre}}
			{% endif %}
		{% endfor %}
		{{partido.local}}
		vs 
		{{partido.visitante}}
		{% for equipo in equipos %}
			{% if equipo.equipo_id == partido.visitante_id %}
				{{equipo.nombre}}
			{% endif %}
		{% endfor %}
		{% if user.is_authenticated %}
    		{% if user.pk == usuario.pk %}
        		<a href="{% url 'partido_edit_octavos' pk_user=usuario.pk pk=partido.pk %}"> 
        		EDITAR
        		</a>
    		{% endif %}	
    	{% endif %}
    	</div>
	{% endif %}
{% endfor %}

<h4> Final </h4>

{% for partido in partidos %}
	{% if partido.partido_id == 64 %}
		<div>
		{{partido.partido_id}}
		{% for equipo in equipos %}
			{% if equipo.equipo_id == partido.local_id %}
				{{equipo.nombre}}
			{% endif %}
		{% endfor %}
		{{partido.local}}
		vs 
		{{partido.visitante}}
		{% for equipo in equipos %}
			{% if equipo.equipo_id == partido.visitante_id %}
				{{equipo.nombre}}
			{% endif %}
		{% endfor %}
		{% if user.is_authenticated %}
    		{% if user.pk == usuario.pk %}
        		<a href="{% url 'partido_edit_octavos' pk_user=usuario.pk pk=partido.pk %}"> 
        		EDITAR
        		</a>
    		{% endif %}	
    	{% endif %}
    	</div>
	{% endif %}
{% endfor %}

{% endblock child %}
