{% extends 'home/base.html' %}

{% block content %}

    <h2><a href="">Ranking</a></h2>
    <table class="table-condensed">
    	<tr>
    		<th>Usuario</th>
    		<th>Puntos</th>
    	</tr>
    {% for rank in ranking %}
    	<tr>    		
			<td> <a href="{% url 'mundial2014.views.partido_list' pk=rank.usuario.pk %}"> {{rank.usuario}} </a></td>
			<td> {{rank.puntos}} </td>	
            <td>
                <p>
                    <b id="suma_puntos">{{ rank.puntos }}</b> numero puntos                    
                    <button id ="suma" data-catid="{{rank.id}}" class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    Suma
                    </button>                    
                </p>
            </td>		
    	</tr>
    {% endfor %}
    </table>
    
{% endblock content %}
