{% load staticfiles %}

<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/readable/bootstrap.min.css" rel="stylesheet">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="{% static "js/mundial-ajax.js" %}"></script>
		<link rel="stylesheet" href="{% static 'css/mundial.css' %}">

        <title>Eurocopa 2016</title>
    </head>
    <body>
        <div class="page-header">
         {% if user.is_authenticated %}
                
                <p class="top-menu">
                    <a href="{% url 'django.contrib.auth.views.logout' %}">
                    <span class="glyphicon glyphicon-share"> Logout </span>
                    </a>
                 </p>
                 <p class="top-menu">
                    <span class="glyphicon glyphicon-user"> {{ user.username }} </span>
                 </p>
            {% else %}
                
                <a href="{% url 'home.views.register' %}" class="top-menu">
                    <span class="glyphicon glyphicon-edit"> Register </span>
                </a>
                <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu">
                    <span class="glyphicon glyphicon-lock"> Login </span>
                </a>
            {% endif %}
            <h1> <a href="/euro2016">Porra LDS</a></h1>

        </div>
        <div class="content">            

            <div>
                {% block content %}
                {% endblock %}           
                
            </div>
        </div>
    </body>
</html>