{% load staticfiles %}

<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="{% static "js/mundial-ajax.js" %}"></script>
		<link rel="stylesheet" href="{% static 'css/mundial.css' %}">

        <title>Mundial 2014</title>
    </head>
    <body>
        <div class="page-header">
            <h1> Porra LDS</h1>            
        </div>
        <div class="content">
            <div>
                {% if user.is_authenticated %}
                    <p class="top-menu">Hello {{ user.username }} </p>
                    <small><a href="{% url 'django.contrib.auth.views.logout' %}">
                            <span class="glyphicon glyphicon-share"> Logout </span>
                    </a>
                {% else %}
                    <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu">
                        <span class="glyphicon glyphicon-lock"> Login </span>
                    </a>
                    <a href="{% url 'home.views.register' %}" class="top-menu">
                        <span class="glyphicon glyphicon-edit"> Register </span>
                    </a>
                {% endif %}
            </div>

            <div>
                {% block content %}
                {% endblock %}           
                
            </div>
        </div>
    </body>
</html>